<li class="film__item hidden_item" data-id="{{id}}">
    <img class="film__img " src="{{imageEn}}" alt="{{titleEn}}">
    <div class="film__info">
        <h2 class="film__name">{{titleEn}}</h2>
        <p class="film__genre"> <span class="film__genre_name">{{genreEn}}</span> <span>|</span> <span class="film__year">{{reliseData}}</span><span class="film__rating">{{vote}}</span> </p>
    </div>
