<li class="film__item hidden_item " data-id="{{id}}">
    <img class="film__img " src="{{image}}" alt="{{title}}" width="274px"  height="400px">
    <div class="film__info">
        <h2 class="film__name">{{title}}</h2>
        <p class="film__genre my-element-with-background"> <span class="film__genre_name">{{genre}}</span> <span>|</span> <span class="film__year">{{reliseData}}</span><span class="film__rating">{{vote}}</span> </p>
    </div>
</li>