
    <img src="{{imageEn}}" alt="preview-film" class="modal__preview-image">

    <div class="modal__text-content">

        <h2 class="modal__title-of-film">{{titleEn}}</h2>

        <div class="modal__specifications">

          <div class="specifications-items">
            <p class="specifications-items__text">Vote/Votes</p>
            <p class="specifications-items__text">Popularity</p>
            <p class="specifications-items__text">Original Title</p>
            <p class="specifications-items__text">Genre</p>
          </div>

          <div class="specifications-values">
            <p class="specifications-values_text slash">
              <span class="specifications-values_text--vote">{{vote}}</span>
              /
              <span class="specifications-values_text--votes">{{votes}}</span>
            </p>
            <p class="specifications-values_text popularity">{{popularity}}</p>
            <p class="specifications-values_text title">{{titleEn}}</p>
            <p class="specifications-values_text genre">{{genreEn}}</p>
          </div>

        </div>


        <h3 class="modal__about-title">About</h3>

        <p class="modal__about-text">
          {{aboutEn}}
        </p>

        <div class="modal__buttons-status">
            <button type="button" class="btn-add watched" data-watched="{{watched}}">Add to watched</button>
            <button type="button" class="btn-add queue" data-queue="{{queue}}">Add to queue</button>
        </div>

    </div>

      
      